<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Translator{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/static/manifest.json">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = { darkMode: 'class' }
    </script>
</head>

<body class="min-h-screen flex flex-col bg-slate-100 dark:bg-slate-900">

    {% include "components/ads_top.html" %}
    {% include "components/ads_side.html" %}

    <main class="flex-1 flex justify-center px-3 py-4 pb-32">
        {% block content %}{% endblock %}
    </main>

    {% include "components/ads_bottom.html" %}
    {% include "components/history_modal.html" %}

    <script src="https://raw.githubusercontent.com/killerdon0304/questions/refs/heads/main/web/static/app.js"></script>



</body>

</html>
