{% extends "base.html" %}

{% block title %}Translator{% endblock %}

{% block content %}
<div class="w-full max-w-xl bg-white dark:bg-slate-800
            rounded-xl shadow p-4 text-slate-900 dark:text-white">

  {% include "partials/header.html" %}

  <textarea id="inputText"
    class="w-full h-28 p-3 rounded border dark:bg-slate-700"
    placeholder="Type or speak..."></textarea>

  <div class="flex gap-2 mt-2">
    <button onclick="startSpeech()"
      class="flex-1 bg-green-600 text-white py-2 rounded">
      🎤 Speak
    </button>

    <select id="targetLang"
      class="flex-1 p-2 rounded border dark:bg-slate-700">
      <option value="hi">Hindi</option>
      <option value="bho">Bhojpuri</option>
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="de">German</option>
    </select>
  </div>

  <button onclick="translateText()"
    class="w-full mt-3 bg-blue-600 text-white py-2 rounded">
    Translate
  </button>

  <div id="loader" class="hidden text-center mt-2">⏳ Translating...</div>

  <div id="resultBox"
  class="hidden mt-3 p-3 bg-slate-100 dark:bg-slate-700 rounded">

  <p id="detectedLang" class="text-xs text-gray-500"></p>

  <p id="translatedText" class="text-lg mt-1 font-semibold"></p>

  <p id="hinglishText"
     class="text-sm text-gray-500 mt-1 hidden"></p>

  <div class="flex gap-2 mt-2">
    <button id="copyBtn" onclick="copyText()"
      class="flex-1 bg-slate-300 dark:bg-slate-600 rounded py-1">
      📋 Copy
    </button>

    <button id="speakBtn" onclick="speakText()"
      class="flex-1 bg-purple-600 text-white rounded py-1">
      🔊 Speak
    </button>
  </div>
</div>


  <!-- HISTORY -->
  <div class="mt-4">
    <div class="flex justify-between items-center mb-1">
      <h3 class="font-semibold">🕘 History</h3>
      <button onclick="openClearHistoryAlert()"
        class="text-xs px-2 py-1 rounded bg-red-600 text-white">
        🗑 Clear
      </button>
    </div>

    <div id="historyBox"
      class="h-40 overflow-y-auto bg-slate-200 dark:bg-slate-700
             rounded p-2 text-sm space-y-2">
    </div>
  </div>

</div>
{% endblock %}
